.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-600;
  margin-bottom: $spacing-600;

  @include desktop {
    margin-bottom: $spacing-800;
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 8.6rem;

    @include tablet {
      width: 37rem;
    }
  }

  &__setting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: $neutral-800;
    border-radius: $radius-8;
    padding: $spacing-150 $spacing-200;
    cursor: pointer;
    transition: transform 0.7s ease;

    & p {
      @include tablet {
        font-size: 1rem;
      }
    }

    &:hover {
      transform: scale(1.03);
      background-color: $neutral-700;

      .header__setting--icon {
        transform: rotate(180deg); // Rotate once
      }

      .header__setting--dropdown {
        transform: scale(1.05);
      }
    }

    &--icon {
      width: 0.875rem;
      filter: brightness(0) invert(1);

      /* This makes the rotation animate smoothly */
      transition: transform 0.7s ease;

      @include tablet {
        width: 1.25rem;
      }
    }

    &--dropdown {
      width: 0.75rem;
    }
  }

  &__title {
    text-align: center;
    max-width: 30rem;

    @include desktop {
      max-width: 50rem;
    }
  }
}
