.searchContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-150;
  max-width: 50rem;
  margin: 0 auto;

  @include tablet {
    flex-direction: row;
  }
}
.search {
  background-color: $neutral-800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $spacing-200;

  border-radius: $radius-12;
  width: 100%;

  &__input {
    width: 100%;
    padding: $spacing-200 $spacing-300 $spacing-200 $spacing-700;
    &::placeholder {
      font-family: "DM Sans";
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
    }
    &:focus {
      outline: none;
    }
  }

  &__img {
    width: 1.25rem;
    position: absolute;
    left: $spacing-300;
  }
}
